<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Dime.Scheduler" value="https://dimesoftware.pkgs.visualstudio.com/_packaging/Dime.Scheduler/nuget/v3/index.json" />
    <!--<add key="DIME" value="http://dimenuget.azurewebsites.net/nuget" />-->
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>  
  </disabledPackageSources>
  <config>
    <add key="repositoryPath" value="../lib" />
  </config>
</configuration>